<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="background-color: #e3f2fd;">
	<div class="container">
		<a class="navbar-brand" href="/">My Website</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Food
          </button>
          <ul class="dropdown-menu dropdown-menu">
            <li><a class="dropdown-item" href="/foods">Foods List</a></li>
            <li><a class="dropdown-item" href="/foods/new">Add New Food</a></li>
            <li><a class="dropdown-item" href="/general_shopping_list">General Shopping List</a></li>
          </ul>
        </li> 
        <li class="nav-item dropdown">
          <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Recipe
          </button>
          <ul class="dropdown-menu dropdown-menu">
            <li><a class="dropdown-item" href="/recipes">Recipes List</a></li>
            <li><a class="dropdown-item" href="/recipes/new">Add New Recipe</a></li>
            <li><a class="dropdown-item" href="/public_recipes">Public Recipies</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <% if current_user %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-small btn-outline" %>
          <% else %>
            <%= button_to "Sign In", new_user_session_path, class: "btn btn-small btn-outline" %>
          <% end %>
				</li>
			</ul>
		</div>
	</div>
</nav>
